html, body {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: 'KelsonSans';
    src: url('../fonts/Kelson Sans Regular.woff') format('woff'),
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'KelsonSans', Helvetica, Arial, sans-serif;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
