<p>Users!</p>
<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering"
           placeholder="Filter all columns"
           [(ngModel)]="config.filtering.filterString"
           class="form-control"
           (keypress)="onChangeTable(config)"/>
  </div>
</div>
<br>

<!--<ng-table [config]="config"-->
<!--(tableChanged)="onChangeTable(config)"-->
<!--[rows]="rows"-->
<!--[columns]="columns">-->
<!--</ng-table>-->

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th *ngFor="let column of columns">{{column.title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows"
  >
    <td *ngFor="let column of columns">
      {{getData(row, column)}}
    </td>
  </tbody>
</table>

<ngb-pagination *ngIf="config.paging"
                class="pagination-sm"
                [(page)]="page"
                [collectionSize]="length"
                [pageSize]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChange)="onChangeTable(config, $event)"
></ngb-pagination>

<pre *ngIf="config.paging"
     class="card card-block card-header">Page: {{page}} / {{length / itemsPerPage}}</pre>
