nav {
    display: flex;
}

.menu-item {
    position: relative;
    border-bottom: 1px solid green;
    padding: 0 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    opacity: 0.6;
    flex: 1;
}

.active.menu-item {
    border-bottom: 3px solid green;
}