<div class="register-form-wrapper"
     [hidden]="submitted">
  <md-card>
    <md-card-title>
      Registration form
    </md-card-title>
    <md-card-content>
      <form #form="ngForm"
            (ngSubmit)="onSubmit()">
        <md-input placeholder="Name"
                  name="first_name"
                  [(ngModel)]="user.firstName"
                  required></md-input>
        <md-input placeholder="Surname"
                  name="surname"
                  [(ngModel)]="user.surname"
                  required></md-input>
        <div class="form-select-wrapper float-left">
          <label for="section">Section</label>
          <select class="form-select"
                  id="section"
                  name="section"
                  required>
            <option *ngFor="let section of user.sections">{{section}}</option>
          </select>
        </div>
        <div class="form-select-wrapper float-left">
          <label for="position">Position</label>
          <select class="form-select"
                  id="position"
                  name="position"
                  required>
            <option *ngFor="let position of user.position">{{position}}</option>
          </select>
        </div>
        <div class="address_group" ngModelGroup="address"
             #address="ngModelGroup">
          <fieldset>
            <legend>Address</legend>
            <md-input placeholder="Street"
                      name="street"
                      [(ngModel)]="user.address.street"
                      required></md-input>
            <md-input placeholder="Building number"
                      name="building"
                      [(ngModel)]="user.address.building_number"
                      required></md-input>
            <md-input placeholder="City"
                      name="city"
                      [(ngModel)]="user.address.city"
                      required></md-input>
          </fieldset>
        </div>

        <button md-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid"
        >Submit!
        </button>
      </form>
    </md-card-content>
  </md-card>
</div>
<div class="register-form-results"
     [hidden]="!submitted">
  <md-card>
    <md-card-content>
      <h3>You have successfully submitted your application. You will get
        agreement after your LR confirms you</h3>
    </md-card-content>
  </md-card>
</div>
{{user | json}}