md-input {
    width: 100%;
}

.form-select {
    display: inline-block;
    margin: 10px 0 15px 0;
}

.form-select-wrapper {
    display: block;
    margin-right: 10px;
}

.address_group fieldset {
    border: 1px solid #9e9e9e;
    width: 100%;
}

.float-left {
    float: left;
}