<div class="register-form-wrapper" [hidden]="submitted">
  <md-card>
    <md-card-title>
      Registration form
    </md-card-title>
    <md-card-content>
      <form #form="ngForm">
        <md-input placeholder="Name"
                  name="first_name"
                  [(ngModel)]="user.firstName"></md-input>
        <md-input placeholder="Surname"
                  name="surname"
                  [(ngModel)]="user.surname"></md-input>
        <button md-raised-button
                color="primary"
                (click)="onSubmit($event)">Submit!
        </button>
      </form>
    </md-card-content>
  </md-card>
</div>
<div class="register-form-results" [hidden]="!submitted">
  <md-card>
    <md-card-content>
      <h3>You have successfully submitted your registration</h3>
    </md-card-content>
  </md-card>
</div>
{{user | json}}