<div class="col-md-8 offset-md-3 col-lg-6 offset-lg-3">
  <ngb-tabset type="pills"
              [activeId]="selectedForm.name"
              [hidden]="submitted">
    <ngb-tab title="1. Basic info"
             id="basic-info"
             [disabled]="true"
    >
      <template ngbTabContent>
        <form [formGroup]="basicForm"
              (ngSubmit)="toggleSelected()"
        >
          <fieldset>
            <legend>Basic information</legend>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     name="name"
                     formControlName="userName"
              >
              <control-message [control]="basicForm.controls.userName"></control-message>
            </div>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input type="text"
                     class="form-control"
                     id="surname"
                     name="surname"
                     formControlName="userSurname"
              >
              <control-message [control]="basicForm.controls.userSurname"></control-message>
            </div>
            <div class="form-group">
              <label for="date_of_birth">Date of birth</label>
              <div class="input-group">
                <input #dp="ngbDatepicker"
                       ngbDatepicker
                       class="form-control"
                       id="date_of_birth"
                       placeholder="yyyy-mm-dd"
                       formControlName="userDateOfBirth"
                >
                <div class="input-group-addon"
                     (click)="dp.toggle()">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
              <control-message [control]="basicForm.controls.userDateOfBirth"></control-message>
            </div>
            <div class="form-group">
              <label for="phone_number">Phone number</label>
              <input type="tel"
                     class="form-control"
                     id="phone_number"
                     name="phone_number"
                     formControlName="userPhoneNumber"
              >
              <control-message [control]="basicForm.controls.userPhoneNumber"></control-message>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     formControlName="userEmail"
              >
              <control-message [control]="basicForm.controls.userEmail"></control-message>
            </div>
          </fieldset>
          <button type="submit"
                  class="btn btn-primary pull-right"
          >Next
          </button>
        </form>
      </template>
    </ngb-tab>
    <ngb-tab title="2. Section"
             id="section-info"
             [disabled]="true"
    >
      <template ngbTabContent>
        <form [formGroup]="sectionForm"
              class="col-lg-8 offset-lg-2"
              (ngSubmit)="toggleSelected()"
        >
          <fieldset>
            <legend>Section information</legend>
            <div class="
            form-group
      ">
              <label for="section">Section</label>
              <select class="form-control"
                      id="section"
                      name="section"
                      formControlName="userSection"
              >
                <option *ngFor="let section of sections"
                        [value]="section">{{section}}
                </option>
              </select>
              <control-message [control]="sectionForm.controls.userSection"></control-message>
            </div>
            <div class="form-group">
              <label for="position">Position</label>
              <select class="form-control"
                      id="position"
                      name="position"
                      formControlName="userPosition"
              >
                <option *ngFor="let position of positions"
                        [value]="position">{{position}}
                </option>
              </select>
              <control-message [control]="sectionForm.controls.userPosition"></control-message>
            </div>
          </fieldset>
          <button class="btn btn-primary pull-right"
          >Next
          </button>
          <button type="button"
                  class="btn btn-outline-primary pull-left"
                  (click)="previousTab()"
          >Previous
          </button>
        </form>
      </template>
    </ngb-tab>
    <ngb-tab title="3. Address"
             id="address-info"
             [disabled]="true"
    >
      <template ngbTabContent>
        <form [formGroup]="addressForm"
              class="col-lg-8 offset-lg-2"
              (ngSubmit)="onSubmit()"
              [hidden]="submitted"
        >
          <fieldset>
            <legend>Address</legend>
            <div class="form-group">
              <label for="street_name">Street name</label>
              <input type="text"
                     class="form-control"
                     id="street_name"
                     name="street_name"
                     formControlName="userAddressStreetName"
              >
              <control-message [control]="addressForm.controls.userAddressStreetName"></control-message>
            </div>
            <div class="form-group">
              <label for="building_number">Building number</label>
              <input type="text"
                     class="form-control"
                     id="building_number"
                     name="building_number"
                     formControlName="userAddressBuildingNumber"
              >
              <control-message [control]="addressForm.controls.userAddressBuildingNumber"></control-message>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text"
                     class="form-control"
                     id="city"
                     name="city"
                     formControlName="userAddressCity"
              >
              <control-message [control]="addressForm.controls.userAddressCity"></control-message>
            </div>
          </fieldset>
          <button type="submit"
                  class="btn btn-primary pull-right">Finish registration
          </button>
          <button type="button"
                  class="btn btn-outline-primary pull-left"
                  (click)="previousTab(event)"
          >Previous
          </button>
        </form>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>
{{user | json}}
<div class="success"
     [hidden]="!submitted">
  <div class="jumbotron">
    <h1 class="display-4">You are almost there!</h1>
    <p class="lead"> What's left is for your LR to confirm you. You will receive
      a letter once Local representative approves you</p>
  </div>
</div>
